<?xml version="1.0"?>
<configuration>
	<entityConfig encrpyt="false" key="aslkjkljlsajsuaggasfklrjuisdhaie">
		<includes>
			<!--Access的ORM配置-->
			<!--<add key="Sample Entity Config" value="EntityConfig/AccessConfig.xml"/>-->
			<!--Oracle的ORM配置-->
			<add key="Sample Entity Config" value="EntityConfig/OracleConfig.xml"/>

			<!--SqlServer的ORM配置-->
			<!--<add key="Sample Entity Config" value="EntityConfig/SqlServerConfig.xml"/>-->
		</includes>
	</entityConfig>
  <appSettings>
    <add key="CachePath" value="~/cache/" />
  </appSettings>
	<connectionStrings>
		<!--Oracle的链接-->
    <!--<add name="MATMIS" connectionString="Server=MQCSBUS;Data Source=172.25.191.154/MQCSDB;User Id=MQCSBUS;Password=MQCSBUS;" providerName="LY.TEC.Data.Data2.Oracle.OracleDbProvider" isMainDb="true" isBusinessDb="true" />-->
    
    <!--<add name="MATMIS" connectionString="Server=MQCSBUS;Data Source=TQMP;User Id=MQCSBUS;Password=MQCSBUS;" providerName="LY.TEC.Data.Data2.Oracle.OracleDbProvider" isMainDb="true" isBusinessDb="true" />-->
    <!--服务器数据库-->
    <add name="MATMIS" connectionString="Server=MQCSBUS;Data Source=172.26.136.162/KFMQCS;User Id=MQCSBUS;Password=MQCSBUS;" providerName="LY.TEC.Data.Data2.Oracle.OracleDbProvider" isMainDb="true" isBusinessDb="true" />
    <add name="MATMIS2" connectionString="Server=MQCSBUS;Data Source=172.26.136.162/KFMQCS;User Id=MQCSBUS;Password=MQCSBUS;"/>
    <!--本地数据库-->
    <!--<add name="MATMIS" connectionString="Server=MQCSBUS;Data Source=ORCL;User Id=MQCSBUS;Password=guanliyuan;" providerName="LY.TEC.Data.Data2.Oracle.OracleDbProvider" isMainDb="true" isBusinessDb="true" />-->
    <!--<add name="MATMIS" connectionString="Server=MQCSBUS;Data Source=ZHCSMQCS;User Id=csmqcsbus;Password=csmqcsbus;" providerName="LY.TEC.Data.Data2.Oracle.OracleDbProvider" isMainDb="true" isBusinessDb="true" />-->
  </connectionStrings>
	<!--isAllocConsole是否启动控制台并输出SQL语句到控制台-->
	<!--当OutputTerminal="webserver"SQL语句输出到服务端的控制台，当OutputTerminal="webclient"SQL语句输出到客户端控制台-->
	<!--<isAllocConsole value="false" MinMillisecond="0" OutputTerminal="webserver" />-->
  <isAllocConsole value="false" OutputTerminal="webserver" />
	<!--isOutputSQLLog是否启用SQL日志输出，OutputFilePath输出到的路径-->
	<isOutputSQLLog value="true" MinMillisecond="0" OutputFilePath="log\sqllog\" />
  <!--<isOutputSQLLog value="true" OutputFilePath="log\sqllog\" datePattern="dddd" />-->
  <!--生成存储过程调试脚本-->
  <isOutputProcedureDebugger value="true" OutputFilePath="log\sqllog\" />
  
	<isVPDFilter value="false" ProceduresName="PKG_SDP_CONTEXT.put" />
</configuration>
