<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--导出文件的临时输出路径-->
    <add key="tempFileCachePath" value="~/cache/"/>
    <!--Datagrid对象映射的表名-->
    <add key="Datagrid_TableName" value="T_PQ_BU_DATAGRID"/>
    <!--DatagridCol对象映射的表名-->
    <add key="DatagridCol_TableName" value="T_PQ_BU_DATAGRID_COL"/>
    <!--数据库连接对象提供程序（专门用于EF的），如果配置了这个值，EF则直接根据这个值创建连接对象；否则EF就读取app.config里面的名为[Mini.Framework.Datagrid.ConnectionStr]的数据库连接-->
    <add key="DBConnectionProvider" value="LY.MQCS.Plugin.DBService.LYDBConnectionProvier,LY.MQCS.Plugin.DBService"/>
    <!--数据库特征对象创建工厂（这个专门用于Database对象的），该配置必须配-->
    <add key="DBCharacterProviderFactory" value="LY.MQCS.Plugin.DBService.LYDBCharacterProviderFactory,LY.MQCS.Plugin.DBService"/>
  </appSettings>
</configuration>