<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--网站目录-->
    <!--<add key="File_SavePath" value="~/upload/[FactoryCode]/{yyyy-MM-dd}" />-->
    <!--共享目录-->
    <!--<add key="File_SavePath" value="\\127.0.0.1\share\{yyyy-MM-dd}" />-->
    <!--ftp目录-->
    <!--ftp://username:password@192.168.0.1:21/profile-->
    <add key="File_SavePath" value="ftp://ftpuser:123456@127.0.0.1/{yyyy-MM-dd}" />
    <!--缓存目录，必须配置为本站点的目录下-->
    <add key="CachePath" value="~/cache/" />
    
    <!--数据库初始化器，必须是0-3-->
    <!--Initializer0，do nothing-->
    <!--Initializer1，CreateDatabaseIfNotExists-->
    <!--Initializer2，DropCreateDatabaseIfModelChanges-->
    <!--Initializer3，DropCreateDatabaseAlways-->
    <add key="DBInitializer" value="1"/>
  </appSettings>
</configuration>