<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--填相对目录，相对程序域的根目录的目录-->
    <add key="dbConfigFilePath" value="config\\LY.TEC.Data.config"/>
    <add key="connectionName" value="MATMIS"/>
    <!--读取连接字符串的方法，1=直接读取Gateway.Default的连接字符串；0=直接读取文件，根据以上的配置读取文件以及指定的节点获得连接字符串-->
    <add key="readConnectionStringType" value="0"/>
  </appSettings>
</configuration>