<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--网站目录-->
    <!--<add key="File_SavePath" value="~/upload/[FactoryCode]/{yyyy-MM-dd}" />-->
    <!--共享目录-->
    <!--<add key="File_SavePath" value="\\127.0.0.1\share\{yyyy-MM-dd}" />-->
    <!--ftp目录-->
    <!--ftp://username:password@192.168.0.1:21/profile-->
    <add key="File_SavePath" value="ftp://ftpuser:123456@127.0.0.1/{yyyy-MM-dd}" />
    <!--缓存目录，必须配置为本站点的目录下-->
    <add key="CachePath" value="~/cache/" />

    <!--Datagrid对象映射的表名-->
    <add key="UploadFile_TableName" value="T_PQ_BU_UPLOADFILE"/>
    <!--DatagridCol对象映射的表名-->
    <add key="UploadFileOpHistory_TableName" value="T_PQ_BU_UPLOADFILEOPHISTORY"/>

    <!--数据库连接对象提供程序（专门用于EF的），如果配置了这个值，EF则直接根据这个值创建连接对象；否则EF就读取app.config里面的名为[Mini.Framework.Datagrid.ConnectionStr]的数据库连接-->
    <add key="DBConnectionProvider" value="Mini.Framework.WebUploader.Test.DBConnectionProvider,Mini.Framework.WebUploader.Test"/>
  </appSettings>
</configuration>